{{ define "main" }}
	<div class="container pure-lg">
		<div class="pure-u-1">
			<div class="content">
				<div class="table-layout">
					<div class="">
						<table id="publications" class="tablesorter data-table pure-table-bordered" data-page-length="20">
							<thead>
								<tr>
									<th>Name <i class="fa"></i></th>
									<th>Date <i class="fa"></i></th>
									<th>Author <i class="fa"></i></th>
									<th>Project <i class="fa"></i></th>
								</tr>
							</thead>
							<tbody>
								{{ range .Site.Data.publications.publication }}
								<tr>
									<td>{{ .title | truncate 50 }}</td>
									<td>
										{{ with .date }}
											<date>{{ dateFormat "_2 Jan 2006" . }}</date>
										{{ end }}
									</td>
									{{ $pub := . }}
									{{ range (slice "authors" "projects") }}
										{{ with (index $pub .) }}
										<td>
											<ul>
											{{ range . }}
												{{ with $.Site.GetPage "page" . }}
													<li>{{ .Title }}</li>
												{{ end }}
											{{ end }}
											</ul>
										</td>
										{{ else }}
										<td></td>
										{{ end }}
									{{ end }}
								</tr>
								{{ end }}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
{{ end }}
