---
new_page_extension: md
auto_deploy: false
admin_path: 
webhook_url: 
sections:
- type: heading
  label: Content
- type: directory
  path: content
  label: Pages
  create: all
  match: "*"
  new_doc_ext: md
- type: directory
  path: content/posts
  label: Posts
  create: all
  match: "**/*"
  new_doc_ext: md
  templates:
  - post
- type: directory
  path: content/projects
  label: Projects
  create: all
  match: "**/*"
  new_doc_ext: md
  templates:
  - project
- type: directory
  path: content/people
  label: People
  create: all
  match: "**/*"
  new_doc_ext: md
  templates:
  - person
- type: heading
  label: Data
- type: document
  path: data/information.yaml
  label: Contact Information
  match: "**/*"
- type: document
  path: data/publications.yaml
  label: Publications
  match: "**/*"
upload_dir: static/uploads
public_path: "/uploads"
front_matter_path: ''
use_front_matter_path: false
file_template: ":filename:"
version: 0.42.1
