{{/*
    Displays a list of partner logos from a document's front matter
*/}}

<section class="partners">
    <div class="container">
        <h2>Funding Partners</h2>
        <div class="flexslider">
            <ul class="slides">
                {{ $page := . }}
                {{ range .Params.partners }}
                    <li>
                        <img src="{{ partial "image_url" (dict "page" $page "url" .) }}" />
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</section>